/*!
 * Created by Amelia Goodman.
 */

body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top.*/
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    background-image: url("../img/stars.jpeg");
}

.text-muted {
    color: white;
}

.btn {
    background-color: #A393BF;
    border-color: white;
    transition: all .35s ease-in-out;
}

.btn:hover {
    background-color: #5f4b81;
    border-color: black;
}

.hideme {
    opacity: 0;
}

.shadow {
    box-shadow: -10px 16px 28px 0 rgba(0, 0, 0, 0.5), 10px 25px 55px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}

.sec-divider {
    height: 80px;
}

/*-------HEADER---------*/

.header-image {
    display: block;
    width: 100%;
    background-color: #B9D6F2;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:500px;
    -webkit-transition: background-color 3.5s ease-in-out;
    -moz-transition: background-color 3.5s ease-in-out;
    -o-transition: background-color 3.5s ease-in-out;
    -khtml-transition: background-color 3.5s ease-in-out;
    transition: background-color 3.5s ease-in-out;
}

.headline {
    padding: 120px 0;
}

.headline h2 {
    font-size: 6em;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Monofett', cursive;
}


/*-------ABOUT---------*/

#about .shadow {
    padding: 40px;
}

#about #sponsored {
    margin-top: 50px;
}

#about {
    background: radial-gradient(200px, #fff, #A393BF);
    padding-top: 50px;
    padding-bottom: 50px;
}

#quoted {
    color: #0353A4;
}

/*-------SCHEDULE---------*/

#schedule {
    padding-top: 50px;
    background: radial-gradient(ellipse at center, white 0%, #0353A4 75%, #0353A4 100%);
    padding-bottom: 50px;
}

#schedule img {
    width: 100%;
}

@media(max-width:480px) {
    #schedule img {
        width: 1000% !important;
    }
}

@media(min-width:480px) {
    #schedule .container {
        width: 60%;
    }

    #FAQ .container {
        width: 60%;
    }
}

#sched-list-el {
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    padding-top: 10px;
    transition: all .35s ease-in-out;
}

#sched-list-el:hover {
    transform: scale(1.1);
    background-color: #B58DB6;
    color: white;
}

/*-------FAQ---------*/

#FAQ {
    background: radial-gradient(ellipse at center, white 0%, #79c99E 75%, #79c99E 100%);
    padding-top: 80px;
    padding-bottom: 40px;
}

#FAQ .shadow {
    padding: 30px;
}

/*-------MENTORS---------*/

#mentors {
    padding-top: 100px;
    background: radial-gradient(ellipse at center, white 0%, #006DAA 75%, #006DAA 100%);
}

#mentors img {
    transition: all .35s ease-in-out;
    max-height: 200px;
    padding-left: 80px;
}

#mentors img:hover {
    transform: scale(1.1);
}

/*-------LOCATION---------*/

#location {
    padding-top: 100px;
    padding-bottom: 100px;
    background: radial-gradient(ellipse at center, white 0%, #2e294e 75%, #2e294e 100%);
}

#location .shadow {
    padding: 40px;
}

/*-------FOOTER---------*/

footer {
    /*margin: 50px 0;*/
    background-image: url("../img/stars.jpeg");
    padding: 50px;
}

footer .shadow {
    padding: 40px;
}

